github "robbiehanson/CocoaAsyncSocket" ~> 7.6.3
github "CocoaLumberjack/CocoaLumberjack" ~> 3.5.2
github "lexrus/MMDB-Swift" "0.5.0"
github "tula-byte/Sodium-framework" "v1.0.11"
github "behrang/YamlSwift" "3.4.3"
github "zhuhaow/Resolver" ~> 0.2.0
github "xmhu/tun2socks" "master"
github "zhuhaow/Resolver" ~> 0.2.0
